Идея: Личная библиотека(Электронных книг)
Описание: По типу облачного хранилища, но специально для веб новелл. На этой платформе будут сохраняться любимые книги
Дизайн: Минималистический, темный, современный дизайн

Контент:
	- Главная страница на которой сразу понятно где находишься, с базовой инфой о сайте.
	- Список сохраненных и любимых книг
	- Возможноть зарегестрироваться. Профиль 
	- Хэдер и футер 