/* Хорошие стороны */
.attributes{
	display: flex;
	align-items: center;
	justify-content: start;
	padding: 30px;
	border: 1px solid var(--accent_color);
	border-radius: 15px;
}

.attr_header{
	text-align: center; 
	margin-top: 0;
	font-size: var(--text_size_smallHeader);

}

.attr_element{
	width: 20%;
	max-height: 200px;
	margin: auto;
	margin-top: 0;
}

.attributes_p{
	font-size: var(--text_size_primary);
	word-spacing: 3px;
	text-align: center;
}
