/* Про сайт */
#about_container{
	width: 100vw;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about_subcontainer{
	height: 100%;
	width: var(--main_container_width);
	display: flex;
	flex-direction: column;
	gap: 40px;
	padding-bottom: 40px;

	background-color: var(--container_bg_color);
	color: var(--text_color);
	opacity: var(--bg_opacity);
}

.container{
	display: flex;
	justify-content: center;
	width: 59%;
}

