4 страницы(На деле одна потому что SPA, контент просто менятся): 1: Где читают(Читать/Каталог), Инфа о сайте(Про сайт) и Профиль(Инфа о аккаунте и сохраненные новеллы) и главная страница(Смесь страниц каталога и про сайт)

Контент на страницах: 
	0: Общий контент, который на всех страницах: Хэдер, футер
	1: На главной странице: 
		1.1: Баннер
		1.2: Секция - это место для читателей: 
			1.2.1: Загаловок
			1.2.2: Параграф
			1.2.3: Call-to-action кнопка "читать"
