3 страницы(На деле одна потому что SPA, контент просто менятся): 1: Где читают(Читать/Каталог), Профиль(Инфа о аккаунте и сохраненные новеллы) и главная 
страница(Смесь страниц каталога и про сайт)

Контент на страницах: 
	0: Общий контент, который на всех страницах: Хэдер, футер

	1: На главной странице: 
		1.0: Хэдер
		1.1: Баннер
		
		1.3: Рекомендации
			1.3.1 Здесь будут рекомендованный книги, 2-3 видно на один момент. Скролиться в право или на лево
			1.3.2: 1 рекомендованная книга это контейнер, в ней еще 2 контейнера расположенные горизонтально.
				1.3.2.1: Первый контейнер изображение, обложка новеллы
				1.3.2.2: Второй контейнер название и описание
		
		1.2: Секция - это место для читателей: 
			1.2.1: Загаловок
			1.2.2: Параграф
			1.2.3: Call-to-action кнопка "читать"
		
		1.3 Все что свзязано с инфой о сайте
		
		1.4: Футер
	2. Читать: 
		2.1: Типа поиск, по языку оригинала, статусу(закончен или нет), жанрам и по тегам
		3.3: Каталог. На 3 вида разделен, уже есть
		2.2: Рекомендации, такой же как и на главной странице

	3. Хэдер:
		3.1: Лого
		3.2: Меню(Читать, Про сайт)
		3.3: Менять тему: Светлая / темная. (Эту часть можешь не трогать пока с темой, я перемещу сам)
		3.4: 
			3.4.1: Если зарегестрирован в аккаунте: Иконка профиля. На нее нажимаешь выпадает менюшка:
				3.4.1.1: Выпадающее меню: профиль, сохранненые новеллы и любимые. Каждый из этих выборов открыват мини 
					окошко
				3.4.1.2: В окошке профиль будет: имя, логин, пароль, и возможность поменять на новый пароль  
				3.4.1.3: Остальные окошки и так понятны. Там будет список сохранненых и любимых книг   
			3.4.2: Если не зарегестрирован будет вместо иконки профиля показываться кнопка "Зарегестрироваться"











