<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>

    <link rel="stylesheet" href="..\css\general_styles.css">
    <link rel="stylesheet" href="..\css\main_page\header.css">
    <link rel="stylesheet" href="../css/browse.css">
    <link rel="stylesheet" href="..\css\main_page\footer.css">

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>

  <body >
    <div class="app">
      <div id="header_bg" id="header">
        <div class="header" id="header">
          <span class="logo"><a href="index.html">AsDf</a></span>
          
          <div class="elements">
            <a href="#about" class="menu_element">Про сайт</a>
            <a href="#" class="menu_element">Читать</a>
            <a href="#" class="menu_element">Каталог</a>
            <a href="#" class="menu_element">Поиск</a>
            <a href="#footer" class="menu_element">&#8943;</a>
          </div>
  
          <div class="reg" v-if="logged_in">
            <button class="reg_button"><a href="..\html\registration.html">{{ asdf }}</a></button>
            <button class="reg_button" id="login_btn"><a href="..\html\sign_in.html">Войти</a></button>
          </div>
  
          <div class="profile" v-else="!logged_in"></div>
        </div>        
      </div>
  
      <div class="top_container">
        <div class="books_container">
          <ul class="books_list">
            <li class="book_element" v-for="book in books">
              <img class="preview_img" :src="book.img_path" alt="Resourse not found">
              
              <div class="preview_text">
                <h2> {{book.title}} </h2>
      
                <p> {{book.author}} </p>
              </div>
            </li>
          </ul>
        </div>
        
        <div class="recomendations">
          <h1>Рекомендации</h1>
          <h2> {{ current }}: {{ title }} </h2>
        </div>
  
        <button v-on:click="previous">Предыдущая новелла</button>
        <button v-on:click="next">Следующая новелла</button>
      </div>
  
      <div id="footer">
        <div class="footer_container">
          <div class="footer_about">
            <h3>О сайте</h3>
            <p>Royal Road® - это дом веб-романов и фан-фикшенов! В нашем удивительном сообществе
              вы можете найти различных талантливых людей, которые пишут как хобби или даже
              профессионально, художников, которые создают искусство для них, и много-много
              читателей, которые дают ценные отзывы и поощрения.
            </p>
          </div>
  
          <div class="help">
            <div class="help_f">
              <h3>Контакты</h3>
              <a href="">7 707 246 20 56</a>
              <a href="">asdfASDF1@gmail.com</a>
            </div>  
            
            <div class="help_s">
              <h3>Реклама</h3>
                <a href="">Реклама для авторов</a>
                <a href="">Реклама на AsDf</a>
            </div>
          </div>
  
          <div class="theme_select">
            <h3>Тема</h3>
            <select id="theme">
              <option id="dark">Темная</option>
              <option id="light">Светлая</option>
            </select>
          </div>
        </div>
  
        <div class="footer_container">
          <span>AsDf 2023</span>
          <div class="policies">
            <a href="#">Условия использования</a>
            |
            <a href="#">Политика конфиденциальности</a>
            |
            <a href="#">Использование cookies</a>
            |
            <a href="#">Статус</a>
          </div>
        </div>
      </div>
    </div>

    <script src="../js/app.js"></script>
  </body>
</html>