
/* footer */
#footer_container{
	width: 100vw;
	height: 16vh;
	max-height: 35vh;
	
  flex-direction: row;
  gap: 30px;

  background-color: var(--footer_bg_color)	;
	color: var(--footer_text_color);
	/* border-top: solid 1px var(--accent_color); */

  position: absolute;
  bottom: 0;
  
  font-size: var(--text_size_primary);
}

#footer_sub_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_element{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#copyright_year{
  opacity: .5;
  font-size: var(--text_size_small);
  padding: 4px;
}

#copyright_year::before{
  content: "\00a9";
}

#footer_logo{
  font-size: var(--text_size_bigHeader);
}

.footer_contacts_icon{
  width: 20px;
  aspect-ratio: 1 / 1;
  padding: 5px;
}

#footer_contacts_icon:hover{
  height: 28px;
  width: 28px;
}
