
/* footer */
#footer_container{
	width: 100vw;
	height: 25vh;
	max-height: 35vh;
	
  flex-direction: row;
  gap: 30px;

  background-color: var(--footer_bg_color)	;
	color: var(--footer_text_color);
	/* border-top: solid 1px var(--accent_color); */

  position: absolute;
  bottom: 0;

  font-size: var(--text_size_primary);
}

#footer_sub_container{
	display: flex;
  justify-content: space-between;
  align-items: center;
}

#copyright_year{
  opacity: .5;
  font-size: var(--text_size_small);
  padding: 4px;
}

#copyright_year::before{
  content: "\00a9";
}

#footer_logo{
  font-size: var(--text_size_bigHeader);
}