/* Сбрасываю стили браузера по дефолту */
body, h1, p, span, button{
    margin: 0;
    padding: 0;
    font: inherit;
}

body{
  font-family: "Inter", sans-serif;
  color: var(--text_color);
  
  background: var(--bg_color);
  background-image: linear-gradient(var(--bg_color) .1em, transparent .1em), linear-gradient(90deg, var(--bg_color) .1em, transparent .1em);
  background-size: 3em 3em;
  
  overflow-x: hidden;
}


:root{
  --bg_color: rgb(15, 15, 15);
  --secondary_color: #111111;

  --text_color: #c9d1c8;
  --container_bg_color: rgb(15, 15, 15);

  --footer_bg_color: rgb(15, 15, 15);
  --footer_headings_color: #c9d1c8;
  --footer_text_color: #c9d1c8;

  --accent_color: #333333;
  --call_to_action_color: #6f12a5;
  --call_to_action_textColor: #ffffff;

  --darken_lighten_intro_bg: 0, 0, 0, 0.4;
  --darken_lighten_about_bg: 0, 0, 0, 0.3;
  --bg_opacity: 1;
  
  --text_size_extraSmall: 14px;
  --text_size_small: 14px;
  --text_size_primary: 16px;
  --text_size_smallHeader: 18px;
  --text_size_header: 22px;
  --text_size_bigHeader: 40px;

  --main_container_width: 65vw;
}

[data-theme="dark"]{
  --text_color: #c9d1c8;
  --container_bg_color: rgb(15, 15, 15);
  
  --footer_bg_color: rgb(15, 15, 15);
  --footer_headings_color: #c9d1c8;
  --footer_text_color: #c9d1c8;
  
  --accent_color: #242424;
  --call_to_action_color: #801abb;
  --call_to_action_textColor: #ffffff;

  --darken_lighten_intro_bg: 0, 0, 0, 0.4;
  --darken_lighten_about_bg: 0, 0, 0, 0.3;
  
  --opacity: 0.9;
}

[data-theme="light"]{
  --bg_color: rgb(228, 228, 220);

  --text_color: rgb(65, 65, 65);
  --container_bg_color: beige;
  
  --footer_bg_color: var(--bg_color);
  --footer_headings_color: #000000;
  --footer_text_color: #000000;
  
  --accent_color: #adadad;
  --call_to_action_color: #a836eb;
  --call_to_action_textColor: var(--bg_color);

  --darken_lighten_intro_bg: 0, 0, 0, 0.4;
  --darken_lighten_about_bg: 0, 0, 0, 0.3;
  
  --opacity: 0.9;
}

.main_container{
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px
}

.main_sub_container{
  width: var(--main_container_width);
  max-width: var(--main_container_width);
	/* border: 1px solid var(--accent_color); */
	/* border-radius: 15px; */
}

a{
  text-decoration: none;
  color: inherit
}
